html {
  overflow-x: auto;
}

body {
  overflow-x: hidden;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px black;
  position: fixed;
  z-index: 1;
}

.navbar {
  background-color: #ffffff;
  width: 1220px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar img {
  width: 80px;
  height: 80px;
}
.navbar .btn-lg {
  border-radius: 24px;
}
.navbar .btn {
  font-size: 12px;
}
.navbar .nav-link {
  padding: 10px 22px;
}

body {
  font-size: 12px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.navbar-toggler {
  background-color: #337ab7;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../img/burger.png");
}

.form-inline {
  justify-content: center;
}

.content1 {
  display: flex;
  justify-content: center;
  width: auto;
  height: 660px;
  padding-left: 350px;
  padding-right: 350px;
  background-color: #f7f7f7;
}
.content1 h1 {
  font-size: 24px;
  color: black;
}

.text {
  padding-top: 190px;
  width: 590px;
  height: 380px;
  padding-right: 30px;
}
.text span {
  text-align: center;
  font-size: 16px;
  color: #81817c;
  line-height: 2;
}

.form {
  padding-top: 70px;
}
.form .putName, .form .putEmail, .form .putText, .form .putPhone {
  width: 590px;
  height: 50px;
}
.form h3 {
  padding-top: 10px;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
}
.form h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
}
.form .conf {
  font-size: 12px;
  padding-top: 10px;
  text-align: left;
}
.form input {
  margin-right: 10px;
}

.form-button {
  margin: auto;
  margin-top: 30px;
  padding-top: 12px;
  width: 370px;
  height: 50px;
  background-color: #337ab7;
  border-radius: 30px;
}
.form-button a {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  .content1 {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    height: auto;
  }
  .content1 .text {
    padding-right: 0;
    width: auto;
  }

  .form {
    margin-top: 70px;
  }
  .form h3 {
    margin-left: 84px;
  }
  .form h2 {
    padding-left: 76px;
  }
  .form .conf {
    padding-left: 84px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 590px;
    height: 50px;
  }
}
@media screen and (max-width: 425px) {
  .form {
    margin-top: 0;
  }
  .form h3 {
    margin-left: 5px;
  }
  .form h2 {
    margin-left: 30px;
  }
  .form .conf {
    padding-left: 5px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 405px;
    height: 50px;
  }

  .text {
    padding-top: 20px;
  }

  .content-line {
    height: auto;
  }
  .content-line .icons {
    display: flex;
  }
  .content-line .resp-icon {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 375px) {
  .form {
    margin-top: 0;
  }
  .form h3 {
    margin-left: 0;
    padding-left: 8px;
  }
  .form h2 {
    margin: 0 auto;
  }
  .form .conf {
    padding-left: 8px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 350px;
    height: 50px;
  }

  .text {
    padding-top: 20px;
  }
}
@media screen and (max-width: 320px) {
  .form {
    margin-top: 90px;
  }
  .form h3 {
    margin-left: 0;
    padding-left: 10px;
  }
  .form h2 {
    margin-left: -20px;
  }
  .form .conf {
    padding-left: 10px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 290px;
    height: 50px;
  }

  .text {
    padding-top: 20px;
  }

  .form-button {
    width: 280px;
  }
}
.content2 {
  font-family: "Open Sans Condensed Light", sans-serif;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.content2 span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-align: center;
}
.content2 .content-icon {
  width: 1220px;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
}
.content2 .content-icon .slick-list {
  overflow: hidden;
}
.content2 .content-icon .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 325px;
  min-width: 0;
}
.content2 .content-icon .icon img {
  width: 65px;
  height: 71px;
  min-width: 0;
}
.content2 .content-icon .icon span {
  border-bottom: 1px solid #337ab7;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: center;
  padding-bottom: 20px;
  min-width: 0;
}
.content2 .content-icon .icon span:last-child {
  font-family: "PT Sans", sans-serif;
  padding-top: 40px;
  color: #888888;
  border-bottom: 0;
  font-size: 16px;
  letter-spacing: 0.6px;
  min-width: 0;
  width: 300px;
}

.content-icon {
  display: flex;
  flex-direction: column;
}

.content-line {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: content-box;
  height: 310px;
  margin-top: 95px;
  background-color: #3498db;
}
.content-line .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.content-line .icons .icon-1 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons .icon-1 p {
  font-size: 28px;
  color: white;
}
.content-line .icons .icon-1 span {
  font-size: 16px;
  color: white;
}
.content-line .icons .icon-2 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons .icon-2 p {
  font-size: 28px;
  color: white;
}
.content-line .icons .icon-2 span {
  font-size: 16px;
  color: white;
}
.content-line .icons .icon-3 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons .icon-3 p {
  font-size: 28px;
  color: white;
}
.content-line .icons .icon-3 span {
  font-size: 16px;
  color: white;
}
.content-line .icons .icon-4 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons .icon-4 p {
  font-size: 28px;
  color: white;
}
.content-line .icons .icon-4 span {
  font-size: 16px;
  color: white;
}

.content3 {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.content3 span {
  padding-top: 75px;
  padding-bottom: 20px;
  font-size: 30px;
}
.content3 .slider {
  width: 600px;
  margin: auto;
}
.content3 .slider p {
  font-family: "Open Sans Condensed Light", sans-serif;
  color: #c4c4c4;
  font-size: 20px;
}
.content3 .slider span {
  font-family: "Open Sans Condensed Light", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #afafaf;
  width: 1220px;
}
.content3 .slider .slick-track {
  display: flex;
}
.content3 .slider .slick-list {
  overflow: hidden;
}
.content3 .slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.content3 .slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.content3 .slider .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}
.content3 .slider .slick-dots li.slick-active button {
  background-color: #666666;
  border-radius: 50%;
}
.content3 .slider .info {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content3 .slider .info span {
  color: black;
  margin: 0;
  padding: 0;
}
.content3 .slider .info span:last-child {
  color: #888888;
  font-style: italic;
}

.video-block {
  background-color: #f7f7f7;
  width: auto;
  height: auto;
}
.video-block .tittle-video {
  padding-top: 75px;
  padding-bottom: 30px;
}
.video-block .tittle-video span {
  font-size: 40px;
}
.video-block .text-video {
  width: 1050px;
  margin: auto;
}
.video-block .text-video span {
  color: #858585;
  font-size: 16px;
  text-align: center;
}
.video-block .video {
  margin: auto;
  padding-top: 30px;
}
.video-block .video iframe {
  width: 1020px;
  height: 520px;
}

.mentor-slider {
  width: 1220px;
  margin: 0 auto;
}
.mentor-slider .mentor-tittle {
  margin: auto;
  padding-top: 75px;
}
.mentor-slider .mentor-tittle span {
  font-size: 40px;
}
.mentor-slider .img {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  padding-top: 20px;
}
.mentor-slider .img .image {
  height: 356px;
  width: 337px;
}
.mentor-slider .img .text-mentor {
  width: 700px;
  text-align: left;
}
.mentor-slider .img .text-mentor .title1 {
  padding-bottom: 30px;
}
.mentor-slider .img .text-mentor .title1 span {
  font-size: 18px;
  text-align: left;
  color: #3498db;
  font-weight: bold;
}
.mentor-slider .img .text-mentor p {
  font-family: "Open Sans Condensed Light", sans-serif;
  text-align: left;
  font-size: 18px;
  letter-spacing: 1px;
  color: #767667;
}

.maps {
  padding-top: 60px;
}
.maps iframe {
  height: 400px;
  width: 100%;
}

.contact-line {
  width: 100%;
  background-color: #3498db;
}
.contact-line .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1220px;
  height: 194px;
  background-color: #3498db;
}
.contact-line .container .phone {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container .phone i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container .phone span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container .phone span:last-child {
  font-family: "Open Sans Condensed Light", sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
}
.contact-line .container .mail {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container .mail i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container .mail span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container .mail span:last-child {
  font-family: "Open Sans Condensed Light", sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
}
.contact-line .container .adres {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container .adres i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container .adres span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container .adres span:last-child {
  font-family: "Open Sans Condensed Light", sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
}
.contact-line .container .facebook {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container .facebook i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container .facebook span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container .facebook span:last-child {
  font-family: "Open Sans Condensed Light", sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
}

footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
footer span {
  color: #70a1c9;
  font-size: 16px;
  padding-bottom: 20px;
  font-family: "Open Sans Condensed Light", sans-serif;
  letter-spacing: 0.5px;
}
footer span:last-child {
  color: #767667;
  font-size: 16px;
  font-family: "Open Sans Condensed Light", sans-serif;
}

.mentor .slick-track {
  display: flex;
}

.mentor .slick-list {
  overflow: hidden;
}

.mentor .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mentor .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.content-icon .slick-track {
  display: flex;
}

.content-icon .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-icon .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.mentor .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}

.mentor .slick-dots li.slick-active button {
  background-color: #666666;
  border-radius: 50%;
  border: 0;
}

.content-icon .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}

.content-icon .slick-dots li.slick-active button {
  background-color: #666666;
  border-radius: 50%;
  border: 0;
}

@media screen and (max-device-width: 1185px) {
  .content2 .content-icon {
    width: 750px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-device-width: 1440px) {
  .content1 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */
