html {
  overflow-x: auto;
}

body {
  overflow-x: hidden;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px black;
  position: fixed;
  z-index: 1000;
}

.navbar {
  background-color: #ffffff;
  width: 1220px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar img {
  width: 80px;
  height: 80px;
}
.navbar .btn-lg {
  border-radius: 24px;
}
.navbar .btn {
  font-size: 12px;
}
.navbar .nav-link {
  padding: 10px 22px;
}

body {
  font-size: 12px;
  font-family: open_sanslight, sans-serif;
  text-align: center;
}

.navbar-toggler {
  background-color: #337ab7;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../img/burger.png");
}

.nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background-color: #eeeeee;
  color: #337ab7;
}

.form-inline {
  justify-content: center;
}

.content1 {
  display: flex;
  justify-content: center;
  width: auto;
  height: 660px;
  padding-left: 350px;
  padding-right: 350px;
  background-color: #f7f7f7;
}
.content1 h1 {
  font-size: 24px;
  color: black;
}

.text {
  padding-top: 190px;
  width: 590px;
  height: 380px;
  padding-right: 30px;
}
.text span {
  text-align: center;
  font-size: 16px;
  color: #81817c;
  line-height: 2;
}

.form {
  padding-top: 70px;
}
.form .putName, .form .putEmail, .form .putText, .form .putPhone {
  width: 590px;
  height: 50px;
}
.form h3 {
  padding-top: 10px;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
}
.form h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
}
.form .conf {
  font-size: 12px;
  padding-top: 10px;
  text-align: left;
}
.form input {
  margin-right: 10px;
}
.form input:focus {
  box-shadow: 0px 0px 10px #337ab7;
}

.form-button {
  margin: auto;
  margin-top: 30px;
  padding-top: 12px;
  width: 370px;
  height: 50px;
  background-color: #337ab7;
  border-radius: 30px;
}
.form-button a {
  font-family: open_sanslight, sans-serif;
  font-size: 16px;
  color: white;
}

.content2 {
  font-family: open_sanslight, sans-serif;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.content2 span {
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}
.content2 .content-icon {
  width: 1220px;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
}
.content2 .content-icon .slick-list {
  overflow: hidden;
}
.content2 .content-icon .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 325px;
  min-width: 0;
}
.content2 .content-icon .icon img {
  width: 65px;
  height: 71px;
  min-width: 0;
}
.content2 .content-icon .icon span {
  border-bottom: 1px solid #337ab7;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  padding-bottom: 20px;
  min-width: 0;
}
.content2 .content-icon .icon span:last-child {
  font-family: open_sanslight, sans-serif;
  padding-top: 40px;
  color: #888888;
  border-bottom: 0;
  font-size: 16px;
  letter-spacing: 0.6px;
  min-width: 0;
  width: 300px;
}

.content-icon {
  display: flex;
  flex-direction: column;
}

.content-line {
  display: flex;
  width: auto;
  height: 310px;
  margin-top: 95px;
  background-color: #3498db;
  padding-left: 15px;
  padding-right: 15px;
}
.content-line .icons1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
}
.content-line .icons1 .icon-1 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons1 .icon-1 p {
  font-size: 28px;
  color: white;
}
.content-line .icons1 .icon-1 span {
  font-size: 16px;
  color: white;
}
.content-line .icons1 .icon-2 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons1 .icon-2 p {
  font-size: 28px;
  color: white;
}
.content-line .icons1 .icon-2 span {
  font-size: 16px;
  color: white;
}
.content-line .icons2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
}
.content-line .icons2 .icon-3 {
  width: 181px;
}
.content-line .icons2 .icon-3 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons2 .icon-3 p {
  font-size: 28px;
  color: white;
}
.content-line .icons2 .icon-3 span {
  font-size: 16px;
  color: white;
}
.content-line .icons2 .icon-4 .img {
  width: 85px;
  height: 85px;
}
.content-line .icons2 .icon-4 p {
  font-size: 28px;
  color: white;
}
.content-line .icons2 .icon-4 span {
  font-size: 16px;
  color: white;
}

.content3 {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.content3 span {
  padding-bottom: 20px;
  font-size: 36px;
}
.content3 .slider {
  width: 900px;
  margin: auto;
}
.content3 .slider .quote {
  display: flex;
  flex-direction: row;
}
.content3 .slider .quote i {
  display: flex;
  justify-content: end;
  align-items: start;
  font-size: 20px;
  color: #cdcdcd;
}
.content3 .slider .quote i:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 20px;
  color: #cdcdcd;
}
.content3 .slider p {
  font-family: open_sanslight, sans-serif;
  color: #c4c4c4;
  font-size: 20px;
}
.content3 .slider span {
  font-family: open_sanslight, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #afafaf;
  width: 1220px;
}
.content3 .slider .slick-track {
  display: flex;
}
.content3 .slider .slick-list {
  overflow: hidden;
}
.content3 .slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.content3 .slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.content3 .slider .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}
.content3 .slider .slick-dots li.slick-active button {
  background-color: #666666;
  border-radius: 50%;
}
.content3 .slider .info {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content3 .slider .info span {
  color: black;
  margin: 0;
  padding: 0;
}
.content3 .slider .info span:last-child {
  color: #888888;
  font-style: italic;
}

.video-block {
  background-color: #f7f7f7;
  width: auto;
  height: auto;
}
.video-block .tittle-video {
  padding-top: 75px;
  padding-bottom: 30px;
}
.video-block .tittle-video span {
  font-size: 40px;
}
.video-block .text-video {
  width: 1050px;
  margin: auto;
}
.video-block .text-video span {
  color: #858585;
  font-size: 16px;
  text-align: center;
}
.video-block .video {
  margin: auto;
  padding-top: 30px;
}
.video-block .video iframe {
  width: 1024px;
  height: 520px;
}

.mentor-slider {
  width: 1220px;
  margin: 0 auto;
}
.mentor-slider .mentor-tittle {
  margin: auto;
  padding-top: 75px;
}
.mentor-slider .mentor-tittle span {
  font-size: 40px;
}
.mentor-slider .img {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  padding-top: 20px;
}
.mentor-slider .img .image {
  height: 356px;
  width: 337px;
  margin: 0 auto;
}
.mentor-slider .img .text-mentor {
  width: 700px;
  text-align: left;
}
.mentor-slider .img .text-mentor .title1 {
  padding-bottom: 30px;
}
.mentor-slider .img .text-mentor .title1 span {
  font-size: 18px;
  text-align: left;
  color: #3498db;
  font-weight: bold;
}
.mentor-slider .img .text-mentor p {
  font-family: open_sanslight, sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
  color: #767667;
}

.maps {
  padding-top: 60px;
}
.maps iframe {
  height: 400px;
  width: 100%;
}

.contact-line {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: #3498db;
}
.contact-line .container1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1220px;
  height: 194px;
  background-color: #3498db;
}
.contact-line .container1 .phone {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container1 .phone i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container1 .phone span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container1 .phone span:last-child {
  font-family: open_sanslight, sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}
.contact-line .container1 .mail {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container1 .mail i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container1 .mail span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container1 .mail span:last-child {
  font-family: open_sanslight, sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}
.contact-line .container2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1220px;
  height: 194px;
  background-color: #3498db;
}
.contact-line .container2 .adres {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container2 .adres i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container2 .adres span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container2 .adres span:last-child {
  font-family: open_sanslight, sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}
.contact-line .container2 .facebook {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.contact-line .container2 .facebook i {
  font-size: 50px;
  color: #f7f7f7;
}
.contact-line .container2 .facebook span {
  color: #f7f7f7;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contact-line .container2 .facebook span:last-child {
  font-family: open_sanslight, sans-serif;
  color: #f7f7f7;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}

footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
footer a {
  color: #70a1c9;
}
footer a span {
  color: #70a1c9;
  font-size: 16px;
  padding-bottom: 20px;
  font-family: open_sanslight, sans-serif;
  letter-spacing: 0.5px;
}
footer a span:last-child {
  color: #767667;
  font-size: 16px;
  font-family: open_sanslight, sans-serif;
}

.mentor .slick-track {
  display: flex;
}

.mentor .slick-list {
  overflow: hidden;
}

.mentor .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mentor .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.content-icon .slick-track {
  display: flex;
}

.content-icon .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-icon .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.mentor .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}

.mentor .slick-dots li.slick-active button {
  background-color: #666666;
  border-radius: 50%;
  border: 0;
}

.content-icon .slick-dots button {
  font-size: 0;
  width: 5px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 0;
}

.content-icon .slick-dots li.slick-active button {
  background-color: #666666;
  border-radius: 50%;
  border: 0;
}

@media screen and (max-device-width: 1185px) {
  .content2 .content-icon {
    width: 750px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-device-width: 1440px) {
  .content1 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-device-width: 1024px) {
  .video-block .text-video {
    width: 1010px;
  }
  .video-block .video {
    margin: auto;
    padding-top: 30px;
  }
  .video-block .video iframe {
    width: 100%;
    height: 520px;
  }

  .contact-line {
    padding: 0;
    flex-wrap: wrap;
  }
  .contact-line .container1 .phone span:last-child {
    font-size: 14px;
  }
  .contact-line .container1 .mail span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .adres span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .facebook span:last-child {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .content1 {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    height: auto;
  }
  .content1 .text {
    padding-right: 0;
    width: auto;
  }

  .form {
    margin-top: 70px;
  }
  .form h3 {
    margin-left: 84px;
  }
  .form h2 {
    padding-left: 76px;
  }
  .form .conf {
    padding-left: 84px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 590px;
    height: 50px;
  }

  .content3 .slider {
    width: 710px;
  }

  .mentor-slider {
    width: 768px;
  }

  .mentor .img {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mentor .img .image {
    height: 210px;
  }
  .mentor .img .image img {
    height: 200px;
  }
  .mentor .img .text-mentor {
    width: 750px;
  }
  .mentor .img .text-mentor .title1 {
    margin-left: 365px;
  }
  .mentor .img .text-mentor p {
    text-align: center;
  }

  .video-block .text-video {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .video-block .video iframe {
    width: 768px;
  }

  .contact-line {
    padding: 0;
    flex-wrap: wrap;
  }
  .contact-line .container1 .phone span:last-child {
    font-size: 14px;
  }
  .contact-line .container1 .mail span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .adres span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .facebook span:last-child {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .form {
    margin-top: 30px;
  }
  .form h3 {
    margin-left: 5px;
  }
  .form h2 {
    margin-left: 30px;
  }
  .form .conf {
    padding-left: 5px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 405px;
    height: 50px;
  }

  .text {
    padding-top: 110px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .content2 .content-icon .slick-dots {
    margin-left: 10px;
  }

  .content-line {
    height: auto;
    flex-wrap: wrap;
  }

  .mentor-slider {
    width: 425px;
  }
  .mentor-slider .mentor .img {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mentor-slider .mentor .img .image {
    margin-left: 30px;
    height: 210px;
  }
  .mentor-slider .mentor .img .image img {
    margin-right: 0;
    height: 200px;
  }
  .mentor-slider .mentor .img .text-mentor {
    width: 400px;
  }
  .mentor-slider .mentor .img .text-mentor .title1 {
    margin-left: 178px;
  }
  .mentor-slider .mentor .img .text-mentor p {
    text-align: center;
  }

  .mentor .slick-dots {
    display: flex;
    justify-content: end;
    margin-left: 132px;
  }

  .video-block .text-video {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .video-block .video iframe {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 186px;
  }

  .content3 span {
    font-size: 26px;
  }
  .content3 .slider {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content3 .slider span {
    width: 360px;
  }
  .content3 .slider .info {
    width: 390px;
  }
  .content3 .slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 150px;
    margin-top: 50px;
  }

  .contact-line {
    padding: 0;
    flex-wrap: wrap;
  }
  .contact-line .container1 .phone span:last-child {
    font-size: 14px;
  }
  .contact-line .container1 .mail span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .adres span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .facebook span:last-child {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  .form {
    margin-top: 100px;
  }
  .form h3 {
    margin-left: 10px;
    padding-left: 0;
  }
  .form h2 {
    margin: 0 auto;
  }
  .form .conf {
    padding-left: 8px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 350px;
    height: 50px;
  }

  .text {
    padding-top: 120px;
  }

  .content-line {
    flex-wrap: wrap;
  }

  .content2 span {
    font-size: 32px;
  }

  .mentor-slider {
    width: 375px;
  }
  .mentor-slider .mentor .img {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mentor-slider .mentor .img .image {
    height: 210px;
  }
  .mentor-slider .mentor .img .image img {
    margin-right: 0;
    height: 200px;
  }
  .mentor-slider .mentor .img .text-mentor {
    width: 350px;
  }
  .mentor-slider .mentor .img .text-mentor .title1 {
    margin-left: 160px;
  }
  .mentor-slider .mentor .img .text-mentor p {
    text-align: center;
  }

  .mentor .slick-dots {
    display: flex;
    justify-content: end;
    margin-left: 100px;
  }

  .video-block .text-video {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .video-block .video iframe {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 186px;
  }

  .content3 span {
    font-size: 26px;
  }
  .content3 .slider {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content3 .slider span {
    width: 310px;
  }
  .content3 .slider .info {
    width: 338px;
  }
  .content3 .slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 125px;
    margin-top: 50px;
  }

  .contact-line {
    padding: 0;
    flex-wrap: wrap;
  }
  .contact-line .container1 .phone span:last-child {
    font-size: 14px;
  }
  .contact-line .container1 .mail span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .adres span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .facebook span:last-child {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .form {
    margin-top: 180px;
  }
  .form h3 {
    margin-left: 10px;
    padding-left: 0;
  }
  .form h2 {
    margin-left: -20px;
  }
  .form .conf {
    padding-left: 10px;
  }
  .form .putName, .form .putEmail, .form .putText, .form .putPhone {
    width: 290px;
    height: 50px;
  }

  .text {
    padding-top: 110px;
  }

  .form-button {
    width: 280px;
  }

  .content-line {
    flex-wrap: wrap;
  }

  .content2 span {
    font-size: 28px;
  }
  .content2 .content-icon .icon span {
    font-size: 20px;
  }

  .content3 span {
    font-size: 26px;
  }
  .content3 .slider {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content3 .slider span {
    width: 250px;
  }
  .content3 .slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 100px;
    margin-top: 50px;
  }

  .video-block .text-video {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    margin: auto;
  }
  .video-block .video {
    margin: auto;
    padding-top: 30px;
  }
  .video-block .video iframe {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 186px;
  }

  .mentor-slider {
    width: 320px;
  }
  .mentor-slider .mentor-tittle {
    width: 320px;
    margin: 0;
  }
  .mentor-slider .mentor .img {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mentor-slider .mentor .img .image {
    height: 210px;
  }
  .mentor-slider .mentor .img .image img {
    margin-right: 94px;
    height: 200px;
  }
  .mentor-slider .mentor .img .text-mentor {
    width: 300px;
  }
  .mentor-slider .mentor .img .text-mentor .title1 {
    margin-left: 120px;
  }
  .mentor-slider .mentor .img .text-mentor p {
    text-align: center;
  }

  .mentor .slick-dots {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 80px;
    margin-top: 50px;
  }

  .contact-line {
    padding: 0;
    flex-wrap: wrap;
  }
  .contact-line .container1 .phone span:last-child {
    font-size: 14px;
  }
  .contact-line .container1 .mail span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .adres span:last-child {
    font-size: 14px;
  }
  .contact-line .container2 .facebook span:last-child {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */
