html{
  overflow-x: auto;
}
body{
  overflow-x: hidden;
}
.nav-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px black;
  position: fixed;
  z-index: 1000;
}
.navbar{
  background-color: #ffffff;
  width:1220px;
  padding-left: 15px;
  padding-right: 15px;
  img{
    width: 80px;
    height: 80px;
  }
  .btn-lg{
    border-radius: 24px;
  }
  .btn{
    font-size: 12px;
  }
  .nav-link{
    padding: 10px 22px;

  }
}
body{
  font-size: 12px;
  font-family: open_sanslight, sans-serif;
  text-align: center;
}

.navbar-expand-md .navbar-nav .nav-link{

}
.navbar-toggler{
  background-color: #337ab7;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../img/burger.png");
}
.nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background-color: #eeeeee;
  color:#337ab7;
}
.form-inline{
  justify-content: center;
}
.content1{
  display: flex;
  justify-content: center;
  width: auto;
  height: 660px;
  padding-left: 350px;
  padding-right: 350px;
  background-color: #f7f7f7;
  h1{
    font-size: 24px;
    color: black;
  }
}
.text{
  padding-top: 190px;
  width: 590px;
  height: 380px;
  padding-right: 30px;
  span {
    text-align: center;
    font-size: 16px;
    color: #81817c;
    line-height: 2;
  }
}
.form{
  padding-top: 70px;
  .putName, .putEmail, .putText, .putPhone{
    width: 590px;
    height: 50px;
  }
  h3{
    padding-top: 10px;
    font-size: 12px;
    text-align: left;
    margin-left: 5px;
  }
  h2{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
  }
  .conf{
    font-size: 12px;
    padding-top: 10px;
    text-align: left;
  }
  input{
    margin-right: 10px;
  }
}
.form-button{
  margin: auto;
  margin-top: 30px;
  padding-top: 12px;
  width: 370px;
  height: 50px;
  background-color: #337ab7;
  border-radius: 30px;
  a{
    font-family: open_sanslight,sans-serif;
    font-size: 16px;
    color: white;
  }
}
@media (max-width: 768px) {
  .content1{
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    height: auto;
    .text{
      padding-right: 0;
      width: auto;
    }
  }
  .form{
    margin-top: 70px;
    h3{
      margin-left: 84px;
    }
    h2{
      padding-left: 76px;
    }
    .conf{
      padding-left: 84px;
    }
    .putName, .putEmail, .putText, .putPhone{
      width: 590px;
      height: 50px;
    }
  }
}
@media screen and (max-width: 425px){
  .form{
    margin-top: 0;
    h3{
      margin-left: 5px;
    }
    h2{
      margin-left: 30px;
    }
    .conf{
      padding-left: 5px;
    }
    .putName, .putEmail, .putText, .putPhone{
      width: 405px;
      height: 50px;
    }
  }
  .text{
    padding-top: 20px;
  }
  .content-line{
    height: auto;
    .icons{
      display: flex;
    }
    .resp-icon{
      display: flex;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 375px){
  .form{
    margin-top: 0;
    h3{
      margin-left: 0;
      padding-left: 8px;
    }
    h2{
      margin: 0 auto;
    }
    .conf{
      padding-left: 8px;
    }
    .putName, .putEmail, .putText, .putPhone{
      width: 350px;
      height: 50px;
    }
  }
  .text{
    padding-top: 20px;
  }
}
@media screen and (max-width: 320px){
  .form{
    margin-top: 90px;
    h3{
      margin-left: 0;
      padding-left: 10px;
    }
    h2{
      margin-left: -20px;
    }
    .conf{
      padding-left: 10px;
    }
    .putName, .putEmail, .putText, .putPhone{
      width: 290px;
      height: 50px;
    }
  }
  .text{
    padding-top: 20px;
  }
  .form-button{
    width: 280px;
  }
}
.content2 {
  font-family: open_sanslight, sans-serif;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
  span {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
  }

  .content-icon {
    width: 1220px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 0;
    .slick-list{
      overflow: hidden;
    }

    .icon {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 350px;
      height: 325px;
      min-width: 0;
      img {
        width: 65px;
        height: 71px;
        min-width: 0;
      }
      span {
        border-bottom: 1px solid #337ab7;
        font-size: 24px;
        font-weight: 500;
        letter-spacing:  0.2px;
        text-align: center;
        padding-bottom: 20px;
        min-width: 0;
      }
      span:last-child {
        font-family: open_sanslight, sans-serif;
        padding-top: 40px ;
        color: #888888;
        border-bottom: 0;
        font-size: 16px;
        letter-spacing: 0.6px;
        min-width: 0;
        width: 300px;
      }
    }
  }
}
.content-icon{
  display: flex;
  flex-direction: column;
}
.content-line{
  display: flex;
  justify-content: center;
  width: auto;
  max-width: content-box;
  height: 310px;
  margin-top: 95px;
  background-color: #3498db;
  .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    .icon-1{
      .img {
        width: 85px;
        height: 85px;
      }
      p{
        font-size: 28px;
        color: white;
      }
      span{
        font-size: 16px;
        color: white;
      }
    }
    .icon-2{
      .img {
        width: 85px;
        height: 85px;
      }
      p{
        font-size: 28px;
        color: white;
      }
      span{
        font-size: 16px;
        color: white;
      }
    }
    .icon-3{
      .img {
        width: 85px;
        height: 85px;
      }
      p{
        font-size: 28px;
        color: white;
      }
      span{
        font-size: 16px;
        color: white;
      }
    }
    .icon-4{
      .img {
        width: 85px;
        height: 85px;
      }
      p{
        font-size: 28px;
        color: white;
      }
      span{
        font-size: 16px;
        color: white;
      }
    }
  }
}
.content3 {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;

  span {
    padding-bottom: 20px;
    font-size: 36px;
  }

  .slider {
    width: 900px;
    margin: auto;
    .quote{
      display: flex;
      flex-direction: row;
      i{
        display: flex;
        justify-content: end;
        align-items: start;
        font-size: 20px;
        color: #cdcdcd;
      }
      i:last-child{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        font-size: 20px;
        color: #cdcdcd;
      }
    }
    p{
      font-family: open_sanslight, sans-serif;
      color: #c4c4c4;
      font-size: 20px;
    }
    span{
      font-family: open_sanslight, sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
      color: #afafaf;
      width: 1220px;
    }
    .slick-track{
      display: flex;
    }
    .slick-list{
      overflow: hidden;
    }
    .slick-dots{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }
    .slick-dots li{
      list-style: none;
      margin: 0 10px;
    }
    .slick-dots button{
      font-size: 0;
      width: 5px;
      height: 10px;
      background-color: #b3b3b3;
      border-radius: 50%;
      border: 0;
    }
    .slick-dots li.slick-active button{
      background-color: #666666;
      border-radius: 50%;
    }
    .info{
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      span{
        color: black;
        margin: 0;
        padding: 0;
      }
      span:last-child{
        color: #888888;
        font-style: italic;
      }
    }
  }
}
.video-block{
  background-color: #f7f7f7;
  width: auto;
  height: auto;
  .tittle-video{
    padding-top: 75px;
    padding-bottom: 30px;
    span{
      font-size: 40px;
    }
  }
  .text-video{
    width: 1050px;
    margin: auto;
    span{
      color:#858585;
      font-size: 16px;
      text-align: center;
    }
  }
  .video{
    margin: auto;
    padding-top: 30px;
    iframe{
      width:1020px;
      height:520px;
    }
  }
}
.mentor-slider {
  width: 1220px;
  margin: 0 auto;

  .mentor-tittle {
    margin: auto;
    padding-top: 75px;

    span {
      font-size: 40px;
    }
  }

  .img {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    padding-top: 20px;
      .image{
        height:356px;
        width:337px;
      }
    .text-mentor {
      width: 700px;
      text-align: left;
        .title1 {
          padding-bottom: 30px;
          span {
            font-size: 18px;
            text-align: left;
            color: #3498db;
            font-weight: bold;
          }
        }


      p {
        font-family: open_sanslight, sans-serif;
        text-align: left;
        font-size: 16px;
        letter-spacing: 1px;
        color: #767667;
      }
    }
  }
}
.maps {
  padding-top: 60px;
  iframe {
    height: 400px;
    width: 100%;
  }
}
.contact-line {
  width: 100%;
  background-color: #3498db;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    height: 194px;
    background-color: #3498db;

    .phone {
      display: flex;
      flex-direction: column;
      width: 170px;
      i {
        font-size: 50px;
        color: #f7f7f7;
      }
      span{
        color: #f7f7f7;
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
      }

      span:last-child{
        font-family: open_sanslight, sans-serif;
        color: #f7f7f7;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 100;
      }
    }

    .mail {
      display: flex;
      flex-direction: column;
      width: 170px;
      i {
        font-size: 50px;
        color: #f7f7f7;
      }
      span{
        color: #f7f7f7;
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
      }

      span:last-child{
        font-family: open_sanslight, sans-serif;
        color: #f7f7f7;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 100;
      }
    }

    .adres {
      display: flex;
      flex-direction: column;
      width: 170px;
      i {
        font-size: 50px;
        color: #f7f7f7;
      }
      span{
        color: #f7f7f7;
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
      }

      span:last-child{
        font-family: open_sanslight, sans-serif;
        color: #f7f7f7;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 100;
      }
    }

    .facebook {
      display: flex;
      flex-direction: column;
      width: 170px;
      i {
        font-size: 50px;
        color: #f7f7f7;
      }
      span{
        color: #f7f7f7;
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
      }

      span:last-child{
        font-family: open_sanslight, sans-serif;
        color: #f7f7f7;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 100;
      }
    }
  }
}
footer{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  a {
    color: #70a1c9;
    span {
      color: #70a1c9;
      font-size: 16px;
      padding-bottom: 20px;
      font-family: open_sanslight, sans-serif;
      letter-spacing: 0.5px
    }
  }
  a{
  span:last-child {
    color: #767667;
    font-size: 16px;
    font-family: open_sanslight, sans-serif;
  }
  }
}
.mentor .slick-track{
  display: flex;
}
.mentor .slick-list{
  overflow: hidden;
}
.mentor .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mentor .slick-dots li{
  list-style: none;
  margin: 0 10px;
}
  .content-icon .slick-track{
    display: flex;
  }
  .content-icon .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-icon .slick-dots li{
    list-style: none;
    margin: 0 10px;
  }
  .mentor .slick-dots button{
    font-size: 0;
    width: 5px;
    height: 10px;
    background-color: #b3b3b3;
    border-radius: 50%;
    border: 0;
  }
.mentor .slick-dots li.slick-active button{
  background-color: #666666;
  border-radius: 50%;
  border: 0;
}
  .content-icon .slick-dots button{
    font-size: 0;
    width: 5px;
    height: 10px;
    background-color: #b3b3b3;
    border-radius: 50%;
    border: 0;
  }
  .content-icon .slick-dots li.slick-active button{
    background-color: #666666;
    border-radius: 50%;
    border: 0;
  }
  @media screen and(max-device-width: 1185px) {
    .content2 .content-icon{
      width: 750px;
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and(max-device-width: 1440px){
    .content1 {
      padding-right: 15px;
      padding-left: 15px;
    }
  }


